.dadi{
background-color: burlywood;
height: 100vh;
width: 50%;
border-right: solid white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.email{
    background-color: cadetblue;
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#vincitore{
    color: rgb(74, 172, 35);
}
#cpu{
    color: white;
    margin-left: 1rem;
}
#giocatore1{
    color: white;
    margin-left: 1rem;
}
#span{
    color: red;
}